@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.flex {
  display: flex;
}

$light: #ffffff;
$gray: #c4ccde;
$colorpush: #7532fa;

.navbar {
  background-color: $colorpush;
  padding: 1rem 2rem;
}

.btn.btn-push {
  background-color: $colorpush;
  color: white;
}
.btn.btn-push:hover {
  background-color: #522aaa;
  color: white;
}

.btn.btn-push-perfil {
  background-color: $colorpush;
  color: white;
  border: 0px;
}
.btn.btn-push-perfil:hover {
  background-color: $colorpush;
  color: white;
  border: 0px;
}
.btn.btn-push-perfil::after {
  background-color: $colorpush;

}



.sidebar {
  width: 14rem;
  height: 100vh;
  border-right: 1px solid $gray;
  ul {
    list-style: none;
    padding: 1rem 1rem;
    li {
      margin-bottom: 1rem;
      a {
        text-decoration: none;
        &.active {
          background-color: $colorpush;
        }
      }
    }
  }
}

.contenedor-telefono {
  position: relative;
  display: inline-block;
  text-align: center;
}

.contenedor-push {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 450px;
  height: 130px;
  border-radius: 10px;
}

.push-logo {
  position: relative;
  top: 30px;
}
.push-texto {
  position: relative;
  top: 30px;
}

.fs-0 {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem !important;
  color: white;
}

.home {
  margin-top: 200px;
}

.columna-form {
  width: 400px;
 
}


.fondo-login{
  color: white;
  display:flex;
  justify-content: center;
  align-items: center;
}


.contenedor-login {
width: 100px;

}